.green-box {
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #4caf50; /* Green border */
  width: 70%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
